@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#preloader .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
#preloader .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #1565D8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  margin: 0rem;
  padding: 0rem;
}

body {
  margin: 0rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.first {
  width: 100%;
  height: 54.375rem;
  background: url("../images/Background.png") center/cover no-repeat;
}
.first header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: background-color 2s ease, -webkit-backdrop-filter 1s ease;
  transition: background-color 2s ease, backdrop-filter 1s ease;
  transition: background-color 2s ease, backdrop-filter 1s ease, -webkit-backdrop-filter 1s ease;
}
.first header .header_img a {
  padding: 1.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  text-decoration: none;
}
.first header .header_img .element {
  position: relative;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  overflow: hidden;
}
.first header .header_img .element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #dadada, #6d99d6, #1565D8, #1565D8);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}
.first header .header_img .element:hover::before {
  transform: translateX(100%);
}
.first header .header_img h1 {
  color: #fff;
  font-size: 1.5rem;
}
.first header .header_img img {
  width: 6.25rem;
  height: 6.25rem;
}
.first header .header_img a {
  cursor: pointer;
}
.first header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.first header nav a {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0.625rem 1.25rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  transition: linear 0.5s;
}
.first header nav a:hover {
  background-color: rgb(23, 109, 196);
  color: #fff;
}
.first header nav .D:hover {
  background-color: rgb(23, 109, 196);
}
.first header nav .active:hover {
  color: #fff;
}
.first header .active {
  color: #1565D8;
}
.first header .D {
  margin: 0 1.25rem;
  border: 0.25rem rgb(23, 109, 196) solid;
  border-radius: 0.5rem;
  padding: 0.9375rem 1.875rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.first header .language-selector {
  position: relative;
  font-weight: 600;
  font-size: 1.5rem;
}
.first header .language-selector #current-lang {
  font-size: 1.5rem;
  width: 6.875rem;
  padding: 0.625rem 1.25rem;
  background-color: transparent;
  border: none;
  gap: 0.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  transition: linear 0.5s;
  color: #fff;
}
.first header .language-selector #current-lang:hover, .first header .language-selector #current-lang:active {
  color: #fff !important;
  background-color: #1565D8;
}
.first header .language-selector #current-lang .arrow {
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}
.first header .language-selector #current-lang.open p {
  color: #fff !important;
}
.first header .language-selector #current-lang.open .arrow {
  color: #fff !important;
  transform: rotate(-90deg);
}
.first header .language-selector .dropdown {
  margin-top: -0.0625rem;
  position: absolute;
  left: 0;
  width: auto;
  background-color: #1565D8;
  list-style: none;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.5s linear;
  border-radius: 0 0 1rem 1rem;
}
.first header .language-selector .dropdown.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.first header .language-selector .dropdown li {
  transition: linear 0.5s;
  padding: 0.625rem 1.25rem;
  width: 4.375rem;
  cursor: pointer;
  color: #fff;
  transition: background 0.2s ease;
}
.first header .language-selector .dropdown li:hover {
  background-color: #114999;
}
.first header .open {
  background-color: #1565D8 !important;
  color: #fff;
}
.first header.scrolled {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.first header.scrolled a {
  color: #183B56;
}
.first header.scrolled h1 {
  transition: linear 0.5s;
  color: #183B56;
}
.first header.scrolled .language-selector #current-lang {
  color: #183B56;
}
.first header.scrolled .active {
  color: #1565D8;
}
.first .heading {
  margin-top: 12.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 62.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.first .heading h1 {
  font-size: 8.4375rem;
  width: 100%;
  color: #fff;
  text-align: center;
}
.first .heading button {
  margin-top: 3.125rem;
  cursor: pointer;
  width: 100%;
  height: 3.75rem;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  color: #959EAD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  padding: 0 1.875rem;
}
.first .heading button span {
  font-weight: 600;
}
.first .heading button div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.first .heading button a {
  width: 7.8125rem;
  height: 2.5rem;
  background-color: #1565D8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
}
.first .heading button input {
  width: 46.875rem;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #959EAD;
  outline: none;
  font-size: 1.25rem;
}
.first .heading .popular {
  margin-top: 1.5625rem;
  display: flex;
  gap: 0.625rem;
  color: #fff;
}
.first .heading .popular p {
  cursor: pointer;
  text-align: center;
  width: 9.375rem;
  border-radius: 0.3125rem;
  border: 0.0625rem #fff solid;
  padding: 0.3125rem;
  color: #fff;
  transition: linear 0.5s;
}
.first .heading .popular p:hover {
  background-color: #fff;
  color: #1565D8;
}
.first .the-best-article {
  box-shadow: 0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 37.5rem;
  width: 81.875rem;
  height: 28.125rem;
  background-color: #fff;
  display: flex;
}
.first .the-best-article h3 {
  margin-top: 1.25rem;
}
.first .the-best-article p {
  margin-top: 1.25rem;
}
.first .the-best-article .info {
  padding: 2.1875rem;
}
.first .the-best-article .info .author {
  margin-top: 3.125rem;
  display: flex;
  justify-content: space-between;
}
.first .the-best-article .info .author .person {
  gap: 1.25rem;
  display: flex;
}
.first .the-best-article .info .author .person p {
  margin: 0;
}
.first .the-best-article .info .author .person img {
  width: 3.125rem;
  height: 3.125rem;
}
.first .the-best-article .info .author .person .text div {
  display: flex;
  gap: 0.625rem;
}
.first .the-best-article .info .author .person .text div img {
  width: 1.125rem;
  height: 1.125rem;
}
.first .the-best-article .info .author .person .text div p {
  margin: 0;
}
.first .the-best-article .info .author .data {
  text-align: right;
}/*# sourceMappingURL=style.css.map */