@use "../function/_functions.scss" as f;

/* Для телефонов */
@media (max-width: 767px) {
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff; // или фон твоего сайта
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  
    .spinner {
      width: 50px;
      height: 50px;
      border: 5px solid #ccc;
      border-top: 5px solid #1565D8;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 f.rem(80);
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background-color: transparent;
    transition: background-color 2s ease, backdrop-filter 1s ease;
    .header_img{
      padding: f.rem(20) 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: f.rem(10);
      .element {
        position: relative;
        display: inline-block;
        padding: f.rem(10) f.rem(20);
        border-radius: f.rem(5);
        overflow: hidden;
      }
      
      .element::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #dadada, #6d99d6, #1565D8, #1565D8);
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
      }
      
      .element:hover::before {
        transform: translateX(100%);
      }
      h1{
        color:#183B56;
        font-size: f.rem(24);
      }
      img {
        width: f.rem(100);
        height: f.rem(100);
      }
      a{
        cursor: pointer;
      }
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: f.rem(24);
      font-weight: 600;
      cursor: pointer;
  
      a {
        user-select: none;
        padding: f.rem(10) f.rem(20);
        color: #183B56;
        text-decoration: none;
        display: flex;
        transition: linear 0.5s;
      }
  
      a:hover {
        background-color: rgb(23, 109, 196);
        color: #fff;
      }
  
      .D:hover {
        background-color: rgba(23, 109, 196, 1);
      }
    }
  
    .D {
      margin: 0 f.rem(20);
      border: f.rem(4) rgb(23, 109, 196) solid;
      border-radius: f.rem(8);
      padding: f.rem(15) f.rem(30);
      text-decoration: none;
      color: rgb(23, 109, 196);
      font-weight: 700;
    }
    .language-selector {
      position: relative;
      font-weight: 600;
      font-size: f.rem(24);
      
      
      #current-lang {
        font-size: f.rem(24);
        width: f.rem(110);
        padding: f.rem(10) f.rem(20);
        background-color: transparent;
        border: none;
        gap: f.rem(5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: background 0.3s, box-shadow 0.3s;
        transition: linear 0.5s;
    
        &:hover, &:active {
          color: #fff;
          background-color: #1565D8;
        }
    
        .arrow {
          font-size: f.rem(16);
          font-weight: 600;
          transition: transform 0.3s ease;
        }
        
        &.open .arrow {
          transform: rotate(-90deg);
        }
        
      }
      
    
      .dropdown {
        margin-top: f.rem(-1);
        position: absolute;
        left: 0;
        width: auto;
        background-color: #1565D8;
        list-style: none;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: 0.5s linear;
        border-radius: 0 0 f.rem(16) f.rem(16);
        
    
        &.show {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          
        }
    
        li {
          
          transition: linear 0.5s;
          padding: f.rem(10) f.rem(20);
          width: f.rem(70);
          cursor: pointer;
          color: #fff;
          transition: background 0.2s ease;
    
          &:hover {
            background-color: #114999;
          }
        }
      }
    }
    .open{
      background-color:#1565D8 !important;
      color: #fff;
    }
    
  }
  header.scrolled {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .intro_1 {
      display: inline-block;
      height: f.rem(20);
      background-color: rgba(54, 179, 126, 0.1);
      border-radius: f.rem(100);
    
      text-align: center;
      padding: f.rem(5) f.rem(15);
      color: #36B37E;
      font-size: f.rem(14);
    }
    
  .intro_2 {
    display: inline-block;
    height: f.rem(20);
    background-color: rgba(54, 179, 126, 0.1);
    border-radius: f.rem(100);
  
    text-align: center;
    padding: f.rem(5) f.rem(15);
    color: #1565D8;
    font-size: f.rem(14);
  }
  
  .intro_3 {
    display: inline-block;
    background-color: #f3f3f3;
    border-radius: f.rem(100);
  
    text-align: center;
    padding: f.rem(5) f.rem(15);
    color: #36B37E;
    font-size: f.rem(32);
  }
  
  h1 {
    font-size: f.rem(30);
  }
  h2 {
    font-size: f.rem(22);
  }
  h3 {
    font-size: f.rem(19);
  }
  h4 {
    font-size: f.rem(14);
  }
  h5 {
    font-size: f.rem(10);
  }
  
  .p1 {
    font-size: f.rem(10);
    color: #5A7184;
  }
  .p2 {
    font-size: f.rem(8);
    color: #5A7184;
  }
  .p3 {
    font-size: f.rem(6);
    color: #5A7184;
  }
  .p4 {
    font-size: f.rem(4);
    color: #5A7184;
  }
  
  .button-left-arrow, .button-right-arrow{
    cursor: pointer;
    width: f.rem(50);
    height: f.rem(50);
    background-color: #1565D8;
    border-radius: f.rem(2000);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    button{
      cursor: pointer;
      color: #fff;
      background-color: transparent;
      border: none;
      span{
        font-weight: 600;
      }
    }
  }
  .more-info{
    cursor: pointer;
    width: f.rem(190);
    height: f.rem(60);
    background-color: #1565D8;
    border-radius: f.rem(8);
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: f.rem(5);
    button, span{
      cursor: pointer;
      background-color: transparent;
      color: #fff;
      border: none;
    }
    span{
      font-weight: 600;
    }
  }
  
  .more-info-inv{
    cursor: pointer;
    background-color: transparent;
    margin-top: f.rem(10);
  
    display: flex;
    align-items: center;
    justify-content: center;
    button, span{
      cursor: pointer;
      background-color: transparent;
      color: #0D2436;
      border: none;
    }
    span{
      font-size: f.rem(16);
      font-weight: 200;
    }
  }
  
  .left_align{
    text-align: left;
  }
  .right_align{
    text-align: right;
  }
  .center_align{
    text-align: center;
  }
  
  .author{
    margin-top: f.rem(50);
    display: flex;
    justify-content: space-between;
    
    .person{
      gap: f.rem(20);
      display: flex;
      p{
        margin: 0;
      }
      img{
        width: f.rem(50);
        height: f.rem(50);
      }
      .text{
        div{
          display: flex;
          gap: f.rem(10);
          img{
            width: f.rem(18);
            height: f.rem(18);
          }
          p{
            margin: 0;
          }
        }
      }
      
    }
    .data{
      text-align: right;
    }
  }
  
  footer{
    margin-top: f.rem(100);
    .wave{
      width: 100%;
      img{
        width: 100%;
        height: auto;
        display: block;
      }

    }
    .wh{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      padding: 0 f.rem(150);
      margin-top: f.rem(-5);
      background-color: #0D2436;
      button{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: f.rem(30);
        width: f.rem(520);
        height: f.rem(60);
        padding: 0 f.rem(30);
        background-color: #fff;
        border: none;
        border-radius: f.rem(8);
        color: #959EAD;
        font-size: f.rem(8);
        transition: 0.2s linear;
      }
      a{
        text-decoration: none;
      }
      button:hover{
        color:#1565D8;
        font-weight: 600;
      }
      h2{
        color: #fff;
      }
      p{
        color: #fff;
        width: f.rem(300);
        margin-top: f.rem(10);
      }
    }
    .wh_left{
      margin-bottom: f.rem(150);
    }
    .wh_card{
      a{
        cursor: pointer;
      }
      height: f.rem(600);
      position: relative;
      .skeleton-wrapper{
        border-radius: f.rem(16);
      }
      .box{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: f.rem(620);
        height: f.rem(370);
        border-radius: f.rem(16);
        background-color: #fff;
        padding: f.rem(10);
        .image-container img{
          width: 100%;
          height: f.rem(260);
        }
        
        h5{
          margin-top: f.rem(20);
          padding: 0 f.rem(42);
          color: #000;
        }
        p{
          padding: 0 f.rem(42);
          color: #5A7184;
        }
      }
      .bk_up{
        z-index: 1;
        position: absolute;
        background-color: #1565D8;
        width: f.rem(320);
        border-radius: f.rem(16);
        height: f.rem(250);
        right: f.rem(-60);
        top: f.rem(50)
      }
      .bk_down{
        z-index: 1;
        position: absolute;
        left: f.rem(-100);
        bottom: f.rem(150);
        border-radius: f.rem(16);
        background-color: #1c3142;
        width: f.rem(320);
        height: f.rem(250);
      }
    }
    .footer {
      margin-top: f.rem(-1);
      background-color: #0D2436;
      display: flex;
      
      .ft_top {
        display: flex;
        margin: auto;
        
        .ft_left {
          width: f.rem(325);
          display: flex;
          flex-direction: column;
          .logo{
            width: f.rem(133);
            height: f.rem(133)
          }
          a{
            cursor: pointer;
            margin-top: f.rem(20);
            width: f.rem(237);
            color: #5A7184;
            float: left;
            text-decoration: none;
          }
          .social_media{
            display: flex;
            gap: f.rem(10);
            img{
              margin-top: f.rem(20)
            }
          }
          
    
          .lf_image1 { margin-left: -245px; }
          .lf_image2 { margin-left: -200px; }
          .lf_image3 { margin-left: -155px; }
        }
        .ft_right{
          width: f.rem(1000);
    
          p {
            width: 100%;
            color: #5A7184;
          }
          .links{
            display: flex;
            justify-content: space-between;
            margin-top: f.rem(45);
            a{
              text-decoration: none;
            }
          }
        }
      }  
    }
    .gymnasium_life{
      margin-top: f.rem(-1);
      padding: f.rem(75);
      background-color: #0D2436;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        cursor: pointer;
      }
    }
  }
  
  .location{
    border-radius: f.rem(16);
    margin: auto;
    margin-top: f.rem(100);
    width: f.rem(200);
    height: f.rem(150);
    div{
      border-radius: f.rem(16);
    ymaps{
        
        border-radius: f.rem(32);
    }
  }
  }
}
/* Для планшетов */
// @media (min-width: 768px) and (max-width: 1024px) {
//   /* Стили для планшетов */
// }

/* Для ноутбуков */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Стили для ноутбуков */
}

/* Для экранов от 1440px до 1920px */
// @media (min-width: 1440px) and (max-width: 1919px) {
//   /* Стили для экранов от 1440px до 1920px */
// }

/* Для мониторов с разрешением 1920px и выше */
@media (min-width: 1920px) {
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff; // или фон твоего сайта
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  
    .spinner {
      width: 50px;
      height: 50px;
      border: 5px solid #ccc;
      border-top: 5px solid #1565D8;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 f.rem(80);
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background-color: transparent;
    transition: background-color 2s ease, backdrop-filter 1s ease;
    .header_img{
      padding: f.rem(20) 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: f.rem(10);
      .element {
        position: relative;
        display: inline-block;
        padding: f.rem(10) f.rem(20);
        border-radius: f.rem(5);
        overflow: hidden;
      }
      
      .element::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #dadada, #6d99d6, #1565D8, #1565D8);
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
      }
      
      .element:hover::before {
        transform: translateX(100%);
      }
      h1{
        color:#183B56;
        font-size: f.rem(24);
      }
      img {
        width: f.rem(100);
        height: f.rem(100);
      }
      a{
        cursor: pointer;
      }
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: f.rem(24);
      font-weight: 600;
      cursor: pointer;
  
      a {
        user-select: none;
        padding: f.rem(10) f.rem(20);
        color: #183B56;
        text-decoration: none;
        display: flex;
        transition: linear 0.5s;
      }
  
      a:hover {
        background-color: rgb(23, 109, 196);
        color: #fff;
      }
  
      .D:hover {
        background-color: rgba(23, 109, 196, 1);
      }
    }
  
    .D {
      margin: 0 f.rem(20);
      border: f.rem(4) rgb(23, 109, 196) solid;
      border-radius: f.rem(8);
      padding: f.rem(15) f.rem(30);
      text-decoration: none;
      color: rgb(23, 109, 196);
      font-weight: 700;
    }
    .language-selector {
      position: relative;
      font-weight: 600;
      font-size: f.rem(24);
      
      
      #current-lang {
        font-size: f.rem(24);
        width: f.rem(110);
        padding: f.rem(10) f.rem(20);
        background-color: transparent;
        border: none;
        gap: f.rem(5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: background 0.3s, box-shadow 0.3s;
        transition: linear 0.5s;
    
        &:hover, &:active {
          color: #fff;
          background-color: #1565D8;
        }
    
        .arrow {
          font-size: f.rem(16);
          font-weight: 600;
          transition: transform 0.3s ease;
        }
        
        &.open .arrow {
          transform: rotate(-90deg);
        }
        
      }
      
    
      .dropdown {
        margin-top: f.rem(-1);
        position: absolute;
        left: 0;
        width: auto;
        background-color: #1565D8;
        list-style: none;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: 0.5s linear;
        border-radius: 0 0 f.rem(16) f.rem(16);
        
    
        &.show {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          
        }
    
        li {
          
          transition: linear 0.5s;
          padding: f.rem(10) f.rem(20);
          width: f.rem(70);
          cursor: pointer;
          color: #fff;
          transition: background 0.2s ease;
    
          &:hover {
            background-color: #114999;
          }
        }
      }
    }
    .open{
      background-color:#1565D8 !important;
      color: #fff;
    }
    
  }
  header.scrolled {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .intro_1 {
      display: inline-block;
      height: f.rem(20);
      background-color: rgba(54, 179, 126, 0.1);
      border-radius: f.rem(100);
    
      text-align: center;
      padding: f.rem(5) f.rem(15);
      color: #36B37E;
      font-size: f.rem(14);
    }
    
  .intro_2 {
    display: inline-block;
    height: f.rem(20);
    background-color: rgba(54, 179, 126, 0.1);
    border-radius: f.rem(100);
  
    text-align: center;
    padding: f.rem(5) f.rem(15);
    color: #1565D8;
    font-size: f.rem(14);
  }
  
  .intro_3 {
    display: inline-block;
    background-color: #f3f3f3;
    border-radius: f.rem(100);
  
    text-align: center;
    padding: f.rem(5) f.rem(15);
    color: #36B37E;
    font-size: f.rem(32);
  }
  
  h1 {
    font-size: f.rem(76);
  }
  h2 {
    font-size: f.rem(56);
  }
  h3 {
    font-size: f.rem(48);
  }
  h4 {
    font-size: f.rem(36);
  }
  h5 {
    font-size: f.rem(24);
  }
  
  .p1 {
    font-size: f.rem(24);
    color: #5A7184;
  }
  .p2 {
    font-size: f.rem(20);
    color: #5A7184;
  }
  .p3 {
    font-size: f.rem(18);
    color: #5A7184;
  }
  .p4 {
    font-size: f.rem(16);
    color: #5A7184;
  }
  
  .button-left-arrow, .button-right-arrow{
    cursor: pointer;
    width: f.rem(50);
    height: f.rem(50);
    background-color: #1565D8;
    border-radius: f.rem(2000);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    button{
      cursor: pointer;
      color: #fff;
      background-color: transparent;
      border: none;
      span{
        font-weight: 600;
      }
    }
  }
  .more-info{
    cursor: pointer;
    width: f.rem(190);
    height: f.rem(60);
    background-color: #1565D8;
    border-radius: f.rem(8);
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: f.rem(5);
    button, span{
      cursor: pointer;
      background-color: transparent;
      color: #fff;
      border: none;
    }
    span{
      font-weight: 600;
    }
  }
  
  .more-info-inv{
    cursor: pointer;
    background-color: transparent;
    margin-top: f.rem(10);
  
    display: flex;
    align-items: center;
    justify-content: center;
    button, span{
      cursor: pointer;
      background-color: transparent;
      color: #0D2436;
      border: none;
    }
    span{
      font-size: f.rem(16);
      font-weight: 200;
    }
  }
  
  .left_align{
    text-align: left;
  }
  .right_align{
    text-align: right;
  }
  .center_align{
    text-align: center;
  }
  
  .author{
    margin-top: f.rem(50);
    display: flex;
    justify-content: space-between;
    
    .person{
      gap: f.rem(20);
      display: flex;
      p{
        margin: 0;
      }
      img{
        width: f.rem(50);
        height: f.rem(50);
      }
      .text{
        div{
          display: flex;
          gap: f.rem(10);
          img{
            width: f.rem(18);
            height: f.rem(18);
          }
          p{
            margin: 0;
          }
        }
      }
      
    }
    .data{
      text-align: right;
    }
  }
  
  footer{
    margin-top: f.rem(100);
    .wave{
      width: 100%;
      img{
        width: 100%;
        height: auto;
        display: block;
      }
      
      
      
    }
    .wh{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      padding: 0 f.rem(150);
      margin-top: f.rem(-5);
      background-color: #0D2436;
      button{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: f.rem(30);
        width: f.rem(520);
        height: f.rem(60);
        padding: 0 f.rem(30);
        background-color: #fff;
        border: none;
        border-radius: f.rem(8);
        color: #959EAD;
        font-size: f.rem(20);
        transition: 0.2s linear;
      }
      a{
        text-decoration: none;
      }
      button:hover{
        color:#1565D8;
        font-weight: 600;
      }
      h2{
        color: #fff;
      }
      p{
        color: #fff;
        width: f.rem(300);
        margin-top: f.rem(10);
      }
    }
    .wh_left{
      margin-bottom: f.rem(150);
    }
    .wh_card{
      a{
        cursor: pointer;
      }
      height: f.rem(600);
      position: relative;
      .skeleton-wrapper{
        border-radius: f.rem(16);
      }
      .box{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: f.rem(620);
        height: f.rem(370);
        border-radius: f.rem(16);
        background-color: #fff;
        padding: f.rem(10);
        .image-container img{
          width: 100%;
          height: f.rem(260);
        }
        
        h5{
          margin-top: f.rem(20);
          padding: 0 f.rem(42);
          color: #000;
        }
        p{
          padding: 0 f.rem(42);
          color: #5A7184;
        }
      }
      .bk_up{
        z-index: 1;
        position: absolute;
        background-color: #1565D8;
        width: f.rem(320);
        border-radius: f.rem(16);
        height: f.rem(250);
        right: f.rem(-60);
        top: f.rem(50)
      }
      .bk_down{
        z-index: 1;
        position: absolute;
        left: f.rem(-100);
        bottom: f.rem(150);
        border-radius: f.rem(16);
        background-color: #1c3142;
        width: f.rem(320);
        height: f.rem(250);
      }
    }
    .footer {
      margin-top: f.rem(-1);
      background-color: #0D2436;
      display: flex;
      
      .ft_top {
        display: flex;
        margin: auto;
        
        .ft_left {
          width: f.rem(325);
          display: flex;
          flex-direction: column;
          .logo{
            width: f.rem(133);
            height: f.rem(133)
          }
          a{
            cursor: pointer;
            margin-top: f.rem(20);
            width: f.rem(237);
            color: #5A7184;
            float: left;
            text-decoration: none;
          }
          .social_media{
            display: flex;
            gap: f.rem(10);
            img{
              margin-top: f.rem(20)
            }
          }
          
    
          .lf_image1 { margin-left: -245px; }
          .lf_image2 { margin-left: -200px; }
          .lf_image3 { margin-left: -155px; }
        }
        .ft_right{
          width: f.rem(1000);
    
          p {
            width: 100%;
            color: #5A7184;
          }
          .links{
            display: flex;
            justify-content: space-between;
            margin-top: f.rem(45);
            a{
              text-decoration: none;
            }
          }
        }
      }  
    }
    .gymnasium_life{
      margin-top: f.rem(-1);
      padding: f.rem(75);
      background-color: #0D2436;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        cursor: pointer;
      }
    }
  }
  
  .location{
    border-radius: f.rem(16);
    margin: auto;
    margin-top: f.rem(100);
    width: f.rem(1500);
    div{
      border-radius: f.rem(16);
      width: 100%;
      height: f.rem(550);
    ymaps{
        border-radius: f.rem(32);
    }
  }
  }
}

