@use "../../utils/function/_functions.scss" as f;


body {
	width: 100%;
	height: vh;
	margin: 0px;
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
    margin: f.rem(20) 0;
    padding: 0 f.rem(80);
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background-color: transparent;
    transition: background-color 2s ease, backdrop-filter 1s ease;
    .header_img{
      padding: f.rem(20) 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: f.rem(10);
      .element {
        position: relative;
        display: inline-block;
        padding: f.rem(10) f.rem(20);
        border-radius: f.rem(5);
        overflow: hidden;
      }
      
      .element::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #dadada, #6d99d6, #1565D8, #1565D8);
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
      }
      
      .element:hover::before {
        transform: translateX(100%);
      }
      h1{
        color:#183B56;
        font-size: f.rem(24);
      }
      img {
        width: f.rem(100);
        height: f.rem(100);
      }
      a{
        cursor: pointer;
      }
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: f.rem(24);
      font-weight: 600;
      cursor: pointer;
  
      a {
        user-select: none;
        padding: f.rem(10) f.rem(20);
        color: #183B56;
        text-decoration: none;
        display: flex;
        transition: linear 0.5s;
      }
  
      a:hover {
        background-color: rgb(23, 109, 196);
        color: #fff;
      }
  
      .D:hover {
        background-color: rgba(23, 109, 196, 1);
      }
    }
  
    .D {
      margin: 0 f.rem(20);
      border: f.rem(4) rgb(23, 109, 196) solid;
      border-radius: f.rem(8);
      padding: f.rem(15) f.rem(30);
      text-decoration: none;
      color: rgb(23, 109, 196);
      font-weight: 700;
    }
    .language-selector {
      position: relative;
      font-weight: 600;
      font-size: f.rem(24);
      
      
      #current-lang {
        font-size: f.rem(24);
        width: f.rem(110);
        padding: f.rem(10) f.rem(20);
        background-color: transparent;
        border: none;
        gap: f.rem(5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: background 0.3s, box-shadow 0.3s;
        transition: linear 0.5s;
    
        &:hover, &:active {
          color: #fff;
          background-color: #1565D8;
        }
    
        .arrow {
          font-size: f.rem(16);
          font-weight: 600;
          transition: transform 0.3s ease;
        }
        
        &.open .arrow {
          transform: rotate(-90deg);
        }
        
      }
      
    
      .dropdown {
        margin-top: f.rem(-1);
        position: absolute;
        left: 0;
        width: auto;
        background-color: #1565D8;
        list-style: none;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: 0.5s linear;
        border-radius: 0 0 f.rem(16) f.rem(16);
        
    
        &.show {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          
        }
    
        li {
          
          transition: linear 0.5s;
          padding: f.rem(10) f.rem(20);
          width: f.rem(70);
          cursor: pointer;
          color: #fff;
          transition: background 0.2s ease;
    
          &:hover {
            background-color: #114999;
          }
        }
      }
    }
    .open{
      background-color:#1565D8 !important;
      color: #fff;
    }
    
  }
  header.scrolled {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
.as_blog {
	position: absolute;
	width: 78,072916666666%;
	height: 687px;
	top: 250px;
	left: 202px;
}

.as_bw {
	position: absolute;
	width: 76,66666666%;
	top: 992px;
	height: 945px;
	left: 213px;
}

.as_culture {
	position: absolute;
	width: 99.94791666666%;
	height: 881px;
	top: 3366px;
	left: 1px;
	background: #F9FBFE;
}

.as_back {
	position: absolute;
	width: 100%;
	height: 707.5321655273438px;
	top: 2087px;
	background: #F9FBFE;
}

.bg_nw {
	position: relative;
	width: 473.368408203125px;
	height: 551.10986328125px;
	background: #F9FBFE;
	margin: -50px 39.44px 0px 0px;
	float: left;
	border-radius: 8px;
}

.bg_nw2 {
	position: relative;
	width: 473.368408203125px;
	height: 551.10986328125px;
	background: #F9FBFE;
	margin: -50px 0px 0px 1025.63px;
	border-radius: 8px;
}

.nw_img {
	position: relative;
	width: 447px;
	height: 326px;
	top: 12.11px;
	left: 13px;
	border-radius: 8px;
}

.nw_text1 {
	position: absolute;
	width: 420.77191162109375px;
	height: 96px;
	top: 345px;
	left: 26px;
	font-family: Montserrat Alternates;
	font-weight: 500;
	font-size: 36px;
	line-height: 32px;
	letter-spacing: 0.2px;
	float: left;
}

.nw_text2 {
	position: absolute;
	width: 264.29736328125px;
	height: 20px;
	top: 335px;
	left: 26.3px;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0px;
	color: #959EAD;
}

.nw_address {
	position: relative;
	width: 147.27017211914062px;
	top: 175px;
	left: 30px;
	height: 20px;
	font-family: Open Sans;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0px;
	color: #1565D8;
}

.nw_ar {
	position: relative;
	width: 18.408771514892578px;
	height: 20px;
	top: 200px;
	left: -235px;
}

.as_text {
	width: 752.1298217773438px;
	height: 60px;
	top: 55px;
	font-family: Montserrat Alternates;
	font-weight: 500;
	font-size: 72px;
	line-height: 60px;
	letter-spacing: 0.2px;
	color: #1565D8;
}

.bw_img1 {
	position: absolute;
	width: 499.70526123046875px;
	height: 624.1935424804688px;
	top: 117.58px;
	border-radius: 8px;
	border-width: 10px;
	border: 10px solid #FFFFFF;
	z-index: 1;
}

.bw_img2 {
	position: absolute;
	width: 415.77545166015625px;
	height: 653.225830078125px;
	top: 291.77px;
	left: 339.59px;
	border-radius: 8px;
	z-index: 0;
}

.bw_text1 {
	position: absolute;
	width: 630.1193237304688px;
	height: 120px;
	top: 200px;
	left: 841.88px;
	font-family: Montserrat Alternates;
	font-weight: 500;
	font-size: 72px;
	line-height: 60px;
	letter-spacing: 0.2px;
	color: #1565D8;
} 

.bw_text2 {
	position: absolute;
	width: 590px;
	height: 394px;
	top: 402px;
	left: 842px;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 36px;
	line-height: 34px;
	letter-spacing: 0px;
	color: #5A7184;
}

.as_img {
	position: absolute;
	width: 1287px;
	height: 643px;
	top: 2496px;
	left: 317px;
	border-radius: 8px;
}

.as_fot {
	position: relative;
	width: 113px;
	height: 135px;
	top: 3072px;
	left: 1548px;
}

.as_text1 {
	position: absolute;
	width: 1077.3333740234375px;
	height: 68px;
	top: 2100px;
	left: 449px;
	font-family: Montserrat Alternates;
	font-weight: 500;
	font-size: 72px;
	line-height: 68px;
	letter-spacing: 0.2px;
	color: #1565D8;
}

.as_text2 {
	position: absolute;
	width: 1053px;
	height: 183px;
	top: 2230px;
	left: 434px;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 36px;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: center;
	color: #5A7184;
}

.ct_text1 {
	position: absolute;
	width: 697.6829223632812px;
	height: 120px;
	top: 80px;
	left: 223px;
	font-family: Montserrat Alternates;
	font-weight: 500;
	font-size: 72px;
	line-height: 60px;
	letter-spacing: 0.2px;
	color: #1565D8;
}

.ct_text2 {
	position: absolute;
	width: 677px;
	height: 159px;
	top: 280px;
	left: 224px;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 36px;
	line-height: 32px;
	letter-spacing: 0px;
	color: #5A7184;
}

.ct_block1 {
	position: absolute;
	width: 300px;
	height: 31.261289596557617px;
	top: 518.76px;
	left: 223.14px;
}
.ct_block2 {
	position: absolute;
	width: 323px;
	height: 32px;
	top: 578px;
	left: 223px;
}
.ct_block3 {
	position: absolute;
	width: 253px;
	height: 31px;
	top: 638px;
	left: 223px;
}
.ct_block4 {
	position: absolute;
	width: 363px;
	height: 31px;
	top: 519px;
	left: 594px;	
}
.ct_block5 {
	position: absolute;
	width: 265px;
	height: 32px;
	top: 578px;
	left: 594px;
}
.ct_block6 {
	position: absolute;
	width: 300px;
	height: 31px;
	top: 638px;
	left: 594px;
}

.bk_tick {
	position: absolute;
	width: 14.875933647155762px;
	height: 10.601726531982422px;
	top: 35.69px;
	color: #36B37E;
}

.bk_text {
	position: absolute;
	width: 337px;
	height: 29px;
	top: 5px;
	left: 38px;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0px;
	color: #183B56;
}

.ct_img {
	position: absolute;
	width: 676.8565673828125px;
	height: 738.9031982421875px;
	top: 142.1px;
	left: 1093.38px;
	border-radius: 8px;
}







.wh {
	position: absolute;
	width: 1920px;
	height: 657.98px;
	background: #0D2436;
	top: 4751px;
}

.wh_base {
	width: 1920px;
	height: 657.98px;
	position: absolute;
}

.wh_left {
	width: 1628px;
	height: 526.14px;
	top: 13,55px;
	left: 200px;
	position: absolute;
}

.wh_wave {
	position: relative;
	width: 1920px;
	height: 215.63162231445312px;
	top: 4397px;
	margin-left: 0px;
}

.wave {
	width: 1920px;
	height: 215.63162231445312px;
	margin: 0px;
	position: absolute;
}

.card {
	width: 770.6640625px;
	height: 526.14111328125px;
	left: 857.34px;
	position: absolute;

}

.cd_front {
	width: 621.3333129882812px;
   	height: 474.3895263671875px;
	left: 938.67px;
	position: absolute;
	background: white;
	border-radius: 16px;
	z-index: 2;
}

.cd_text1 {
	width: 450.6666564941406px;
	height: 32px;
	top: 292px;
	left: 42.66px;
	position: absolute;
	font-family: Montserrat Alternates;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.2px;
}


.cd_text2 {
	width: 440px;
	height: 61px;
	top: 336px;
	left: 42.66px;
	position: absolute;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0px;
}

.cd_img {
	width: 600px;
	height: 261.2222900390625px;
	top: 9.86px;
	left: 12px;
	border-radius: 12px;
	position: absolute;
}


.cd_back {
	width: 770.6640625px;
	height: 474.3895263671875px;
	top: 51.75px;
	left: 857.34px;
	border-radius: 16px;
	position: absolute;
	z-index: 1;
}

.bk_up {
	width: 316px;
	height: 246.4361114501953px;
	top: 0px;
	right: 0px;
	border-radius: 16px;
	background: #1565D8;
	position: absolute;
}

.bk_down {
	width: 316px;
	height: 246.4361114501953px;
	bottom: 0px;
	left: 0px;
	opacity: 0.06;
	border-radius: 16px;
	background: #FFFFFF;
	position: absolute;
}

.wh_text1 {
	width: 700px;
	height: 96px;
	top: 105px;
	position: absolute;
	font-family: Montserrat Alternates;
	font-weight: 500;
	font-size: 54px;
	line-height: 48px;
	letter-spacing: 0.2px;
	color: white;
}

.wh_text2 {
	width: 466.6666564941406px;
	height: 55px;
	top: 329px;
	position: absolute;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 0px;
	color: white;
}

.wh_input {
	width: 698.6666870117188px;
	height: 69px;
	top: 270px;
	border-radius: 8px;
	position: absolute;
}

.footer {
	width: 1920px;
	height: 629px;
	background: #0D2436;
	position: absolute;
	top: 5269px;
}

.ft_top {
	width: 1394px;
	height: 411px;
	left: 249px;
	top: 130px;
	position: absolute;
}

.ft_left {
	width: 324.155029296875px;
	height: 268.46466064453125px;
	top: 48.43px;
	position: absolute;
}

.ft_text {
	width: 913.7703247070312px;
	height: 98px;
	top: 88px;
	left: 393.52px;
	color: #5A7184;
	position: absolute;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0px;
}

.ft_addres1 {
	width: 180px;
	height: 22px;
	top: 215px;
	left: 394px;
	color: #5A7184;
	position: absolute;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0px;
}

.ft_addres2 {
	width: 141.4009552001953px;
	height: 22px;
	top: 215px;
	left: 692.33px;
	color: #5A7184;
	position: absolute;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0px;
}

.ft_addres3 {
	width: 165.41244506835938px;
	height: 22px;
	top: 215px;
	left: 913.77px;
	color: #5A7184;
	position: absolute;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0px;
}

.ft_addres4 {
	width: 124.05933380126953px;
	height: 22px;
	top: 215px;
	left: 1159.22px;
	color: #5A7184;
	position: absolute;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0px;
}

.lf_logo {
	width: 133px;
    height: 133px;
    top: -0.43px;
    left: -7px;
    position: absolute;
}

.lf_image1 {
	width: 21.34354019165039px;
	height: 29px;
	top: 208px;
	left: 1.34px;
	position: absolute;
}

.lf_image2 {
	width: 25px;
	height: 25px;
	top: 211.57px;
	left: 39px;
	position: absolute;

}
.lf_image3 {
	width: 25px;
	height: 25px;
	top: 211.57px;
	left: 80px;
	position: absolute;
}

.lf_addres {
	width: 237.4468994140625px;
	height: 74.72727966308594px;
	top: 130.08px;
	color: #5A7184;
	position: absolute;
}

footer{
    margin-top: f.rem(100);
    .wave{
      width: 100%;
      img{
        width: 100%;
        height: auto;
        display: block;
      }
      
      
      
    }
    .wh{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      padding: 0 f.rem(150);
      margin-top: f.rem(-5);
      background-color: #0D2436;
      button{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: f.rem(30);
        width: f.rem(520);
        height: f.rem(60);
        padding: 0 f.rem(30);
        background-color: #fff;
        border: none;
        border-radius: f.rem(8);
        color: #959EAD;
        font-size: f.rem(20);
        transition: 0.2s linear;
      }
      a{
        text-decoration: none;
      }
      button:hover{
        color:#1565D8;
        font-weight: 600;
      }
      h2{
        color: #fff;
      }
      p{
        color: #fff;
        width: f.rem(300);
        margin-top: f.rem(10);
      }
    }
    .wh_left{
      margin-bottom: f.rem(150);
    }
    .wh_card{
      a{
        cursor: pointer;
      }
      height: f.rem(600);
      position: relative;
      .skeleton-wrapper{
        border-radius: f.rem(16);
      }
      .box{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: f.rem(620);
        height: f.rem(370);
        border-radius: f.rem(16);
        background-color: #fff;
        padding: f.rem(10);
        .image-container img{
          width: 100%;
          height: f.rem(260);
        }
        
        h5{
          margin-top: f.rem(20);
          padding: 0 f.rem(42);
          color: #000;
        }
        p{
          padding: 0 f.rem(42);
          color: #5A7184;
        }
      }
      .bk_up{
        z-index: 1;
        position: absolute;
        background-color: #1565D8;
        width: f.rem(320);
        border-radius: f.rem(16);
        height: f.rem(250);
        right: f.rem(-60);
        top: f.rem(50)
      }
      .bk_down{
        z-index: 1;
        position: absolute;
        left: f.rem(-100);
        bottom: f.rem(150);
        border-radius: f.rem(16);
        background-color: #1c3142;
        width: f.rem(320);
        height: f.rem(250);
      }
    }
    .footer {
      margin-top: f.rem(-1);
      background-color: #0D2436;
      display: flex;
      
      .ft_top {
        display: flex;
        margin: auto;
        
        .ft_left {
          width: f.rem(325);
          display: flex;
          flex-direction: column;
          .logo{
            width: f.rem(133);
            height: f.rem(133)
          }
          a{
            cursor: pointer;
            margin-top: f.rem(20);
            width: f.rem(237);
            color: #5A7184;
            float: left;
            text-decoration: none;
          }
          .social_media{
            display: flex;
            gap: f.rem(10);
            img{
              margin-top: f.rem(20)
            }
          }
          
    
          .lf_image1 { margin-left: -245px; }
          .lf_image2 { margin-left: -200px; }
          .lf_image3 { margin-left: -155px; }
        }
        .ft_right{
          width: f.rem(1000);
    
          p {
            width: 100%;
            color: #5A7184;
          }
          .links{
            display: flex;
            justify-content: space-between;
            margin-top: f.rem(45);
            a{
              text-decoration: none;
            }
          }
        }
      }  
    }
    .gymnasium_life{
      margin-top: f.rem(-1);
      padding: f.rem(75);
      background-color: #0D2436;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        cursor: pointer;
      }
    }
  }