@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
  .montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .montserrat-extralight {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .montserrat-extrabold {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .montserrat-black {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .montserrat-thin-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .montserrat-extralight-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .montserrat-light-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .montserrat-regular-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .montserrat-medium-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .montserrat-semibold-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .montserrat-bold-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .montserrat-extrabold-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .montserrat-black-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  