@use "utils/function/_functions.scss" as f;
@use 'utils/mixins/breakpoints' as *;

* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section{
  transition: linear 2s;
}
header{
  position: sticky;
  top: 0;
  z-index: 999;
  margin: f.rem(20) 0;
  padding: 0 f.rem(80);
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: transparent;
  transition: background-color 2s ease, backdrop-filter 1s ease;
  .header_img{
    padding: f.rem(20) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: f.rem(10);
    .element {
      position: relative;
      display: inline-block;
      padding: f.rem(10) f.rem(20);
      border-radius: f.rem(5);
      overflow: hidden;
    }
    
    .element::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #dadada, #6d99d6, #1565D8, #1565D8);
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
    }
    
    .element:hover::before {
      transform: translateX(100%);
    }
    h1{
      color:#183B56;
      font-size: f.rem(24);
    }
    img {
      width: f.rem(100);
      height: f.rem(100);
    }
    a{
      cursor: pointer;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: f.rem(24);
    font-weight: 600;
    cursor: pointer;

    a {
      user-select: none;
      padding: f.rem(10) f.rem(20);
      color: #183B56;
      text-decoration: none;
      display: flex;
      transition: linear 0.5s;
    }

    a:hover {
      background-color: rgb(23, 109, 196);
      color: #fff;
    }

    .D:hover {
      background-color: rgba(23, 109, 196, 1);
    }
  }

  .D {
    margin: 0 f.rem(20);
    border: f.rem(4) rgb(23, 109, 196) solid;
    border-radius: f.rem(8);
    padding: f.rem(15) f.rem(30);
    text-decoration: none;
    color: rgb(23, 109, 196);
    font-weight: 700;
  }
}
header.scrolled {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px); 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.target_of_school {
  position: relative;
  bottom: f.rem(125);
  .part1{
    position: relative;
    span {
      font-size: f.rem(150);
    }
    #logo_text {
      position: absolute;
      bottom: 45%;
      right: 8%;
      overflow-x: hidden;
    }
    .gradient-text {
      background: linear-gradient(to right, #ffffff, #ffffff, #0086EF);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
  .text_box{
    position: absolute;
    bottom: f.rem(-50);
    margin-left: 60vw;
    p{
      margin-left: f.rem(50)
    }
  }
}

.history_of_school{
  width: 75vw;
  margin: 0 auto;
  .text_box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: f.rem(100);
  }
}
.location{
  margin: auto;
  margin-top: f.rem(100);
  width: 75vw;
  div{
    border-radius: f.rem(16);
    width: 100%;
    height: f.rem(550);
  }
  #map{
    border-radius: f.rem(16);
    width: 100%;
    height: f.rem(550);
  }

}
.heading{
  margin: auto;
  margin-top: f.rem(100);
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  nav{
    width: 75%;
    margin-top: f.rem(10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      cursor: pointer;
      width: f.rem(160);
      padding: f.rem(13);
      color: #5A7184;
      border: solid f.rem(2) #5A7184;
      border-radius: f.rem(100);   
      background-color: #fff;
    }
    button:hover{
      background-color: #5A7184;
      color: #fff;
      transition: linear 0.3s;
    }
    .active{
      color: #1565D8;
      border: solid f.rem(2) #1565D8;
    }
    .active:hover{
      background-color: #1565D8;
      color: #fff;
    }
  }
  .photo{
    width: 75vw;
    margin-top: f.rem(50);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: f.rem(50);
    .edge{
      height: f.rem(600);
    }
    .central{
      height: f.rem(800);
    }
    .skeleton-wrapper{
      flex: 1;
      border-radius: f.rem(16);
    }
  }
}
.why_us{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: f.rem(100);
  width: 75vw;
  .text_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h3{
      color: #1565D8;
    }
    p{
      margin-top: f.rem(20);
    }
  }
  .prove{
    margin-top: f.rem(40);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: f.rem(30);

    justify-content: center;
    .element{
      border: solid f.rem(2) #E5EAF4;
      border-radius: f.rem(16);
      width: f.rem(320);
      height: f.rem(280);
      padding: f.rem(40);
      transition: linear 1s;
      img{
        width: f.rem(100);
        height: f.rem(100);
        margin-bottom: f.rem(30);
      }
      h5{
        margin-bottom: f.rem(10);
      }
    }
    .element:hover{
      background-color: #1565D8;
      h5{
        color: #fff;
      }
      p{
        color: #c4c4c4;
      }
      img{
        background-color: #fff;
        border-radius: f.rem(16);
      }
    }
  }
}
.call_us{
  margin-top: f.rem(100);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/images/structures/Base.svg") no-repeat center;
  background-size: cover;
  padding: f.rem(90) 0;
  h2, p, button{
    color: #fff;
    text-align: center;
  }
  h2{
    line-height: f.rem(48);
  }
  p{
    margin-top: f.rem(10);
  }
  button{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: f.rem(30);
    width: f.rem(400);
    height: f.rem(60);
    padding: 0 f.rem(30);
    background-color: #fff;
    border: none;
    border-radius: f.rem(8);
    color: #959EAD;
    font-size: f.rem(20);
    transition: 0.2s linear;
  }
  a{
    text-decoration: none;
  }
  button:hover{
    color:#1565D8;
    font-weight: 600;
  }
}
.quote{
  margin: auto;
  margin-top: f.rem(200);
  width: f.rem(1200);
  height: f.rem(400);
  background-color: #F9FBFE;
  border-radius: f.rem(20);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url('/images/quote/Group\ 1171275066.svg') no-repeat center;
  background-size: cover;
  h4, p{
    width: auto;
  }
  img{
    position: absolute;
    right: 5%;
    bottom: 30%;
  }
  h4{
    margin-left: f.rem(100);
    color: #183B56;
  }
  p{
    margin-top: f.rem(10);
    margin-left: f.rem(150);
  }
}
.administration{
  margin: auto;
  margin-top: f.rem(100);
  width: 75vw;
  .text_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4{
      color:#1565D8;
    }
  }
  .photo{
    margin-top: f.rem(100);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: f.rem(20);
    .person{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      h5{
        margin-top: f.rem(20)
      }
    }
    .button-left-arrow, .button-right-arrow{
      width: f.rem(50);
      height: f.rem(50);
      position: relative;
      bottom: f.rem(35);
    }
  }
}
.additional_info{
  
  width: 75vw;
  margin: auto;
  margin-top: f.rem(100);
  .text_box{
    .bottom-line{
      width: f.rem(270);
      height: f.rem(12);
      background-color: #0086EF;
    }
    p{
      margin-top: f.rem(20);
    }
  }
  .prove1{
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: f.rem(30);
    margin-top: f.rem(72);
    .box{
      width: f.rem(360);
      .img_box{
        width: 100%;
        position: relative;
        .skeleton-wrapper{
          width: 100%;
          height: f.rem(260);
          border-radius: f.rem(8);
          
        }
        .number{
          width: f.rem(48);
          height: f.rem(48);
          background-color: #1565D8;
          color: #fff;
          border-radius: f.rem(8);
         
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: f.rem(28);
          font-weight: 500;

          position: absolute;
          right: f.rem(25);
          top: f.rem(-25)
        }
      }
      .info_box{
        margin-top: f.rem(20);
        display: flex;
        .line{
          width: f.rem(4);
          height: f.rem(20);
          background-color: #1565D8;
          border-radius: f.rem(10);
          
          position: relative;
          top: f.rem(4)
        }
        .text_box{
          margin-left: f.rem(10);
          p{
            margin-top: f.rem(5);
          }
        }
      }
    }
  }
  .prove2{
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
    margin-top: f.rem(50);
    
    .skeleton-wrapper{
      width: f.rem(1140);
      height: f.rem(400);
      border-radius: f.rem(8);
    }
    .text_box{
      width: f.rem(1140);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: f.rem(20);
      .box{
        width: f.rem(400);
        a{
          margin: f.rem(10);
          color:#1565D8;
          cursor: pointer;
        }
        p{
          margin-bottom: f.rem(10);
        }
      }
    }
  }
}
.about_events, .about_mugs{
  margin: auto;
  margin-top: f.rem(100);
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
      color:#1565D8;
    }
  }
  .photo_box{
    margin-top: f.rem(60);
    display: flex;
    align-items: center;
    gap: f.rem(30);
    .photo, img{
      border-radius: f.rem(10);
      width: f.rem(250);
    }
    .column1, .column5, .photo_large, img{
      height: f.rem(310);
    }
    .column2, .column4{
      display: flex;
      flex-direction: column;
      .photo_small{
        margin: f.rem(20) 0;
        height: f.rem(200);
      }
    }
    .column3, .column3 img{
      height: f.rem(600);
    }
  }
  .additional_box{
    margin-top: f.rem(140);
    display: flex;
    align-items: center;
    p{
      width: f.rem(400);
    }
    .position{
      position: relative;
      bottom: f.rem(130)
    }
  }
}
.achievements{
  margin-top: f.rem(100);
  background-color: #F9FBFE;
  display: flex;
  justify-content: center;
  padding: f.rem(135);
  gap: f.rem(100);
  .photo_box{
    position: relative;
    div{
      border-radius: f.rem(8);
    }
    .photo1{
      z-index: 1;
      width: f.rem(460);
      height: f.rem(560);
    }
    .photo2{
      z-index: 2;
      position: absolute;
      right: f.rem(250);
      bottom: f.rem(-100);
      width: f.rem(340);
      height: f.rem(380);
    }
  }
  .achieve_box{
    .list{
      margin-top: f.rem(20);
      display: flex;
      flex-direction: column;
      gap: f.rem(40);
      .box{
        gap: f.rem(10);
        display: flex;  
        .text_box{
          p{
            width: f.rem(415);
          }
        }
      }
    }
  }
}
.feedback{
  width: 75vw;
  margin: auto;
  margin-top: f.rem(150);
  .text_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
      position: relative;
      img{
        z-index: 1;
        position: absolute;
        bottom: f.rem(55);
        left: f.rem(-50);
      }
      h4{
        position: relative;
        z-index: 2;
      }
    }
    .arrows{
      display: flex;
      gap: f.rem(20);
      button{
        background-color: transparent;
        border: none;
      }
      span{
        font-weight: 600;
        font-size: f.rem(36);
        color: #183B56;
        cursor: pointer;
      }
      .standart{
        color: #A9B5C0;
      }
    }
  }
  .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: f.rem(100);
    margin-top: f.rem(50)
  }
  .box{
    flex: 1;
    padding: f.rem(50);
    border-radius: f.rem(16);
    background-color: #F9FBFE;
    h5{
      width: 75%;
    }
    .special{
      margin-top: f.rem(20);
      width: f.rem(440);
    }
    .author{
      margin-top: f.rem(40);
      width: 100%;
      display: flex;
      
      img{
        width: f.rem(56);
        height: f.rem(56);
        border-radius: f.rem(2000);
      }
      .text_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: f.rem(20);
      }
    }
  }
}


footer{
  margin-top: f.rem(100);
  .wave{
    width: 100%;
    img{
      width: 100%;
      height: auto;
      display: block;
    }
    
    
    
  }
  .wh{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0 f.rem(150);
    margin-top: f.rem(-5);
    background-color: #0D2436;
    button{
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: f.rem(30);
      width: f.rem(520);
      height: f.rem(60);
      padding: 0 f.rem(30);
      background-color: #fff;
      border: none;
      border-radius: f.rem(8);
      color: #959EAD;
      font-size: f.rem(20);
      transition: 0.2s linear;
    }
    a{
      text-decoration: none;
    }
    button:hover{
      color:#1565D8;
      font-weight: 600;
    }
    h2{
      color: #fff;
    }
    p{
      color: #fff;
      width: f.rem(300);
      margin-top: f.rem(10);
    }
  }
  .wh_left{
    margin-bottom: f.rem(150);
  }
  .wh_card{
    height: f.rem(600);
    position: relative;
    .skeleton-wrapper{
      border-radius: f.rem(16);
    }
    .box{
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      width: f.rem(620);
      height: f.rem(370);
      border-radius: f.rem(16);
      background-color: #fff;
      padding: f.rem(10);
      .image-container img{
        width: 100%;
        height: f.rem(260);
      }
      h5{
        margin-top: f.rem(20);
        padding: 0 f.rem(42);
        color: #000;
      }
      p{
        padding: 0 f.rem(42);
        color: #5A7184;
      }
    }
    .bk_up{
      z-index: 1;
      position: absolute;
      background-color: #1565D8;
      width: f.rem(320);
      border-radius: f.rem(16);
      height: f.rem(250);
      right: f.rem(-60);
      top: f.rem(50)
    }
    .bk_down{
      z-index: 1;
      position: absolute;
      left: f.rem(-100);
      bottom: f.rem(150);
      border-radius: f.rem(16);
      background-color: #1c3142;
      width: f.rem(320);
      height: f.rem(250);
    }
  }
  .footer {
    margin-top: f.rem(-1);
    background-color: #0D2436;
    display: flex;
    
    .ft_top {
      display: flex;
      margin: auto;
      
      .ft_left {
        width: f.rem(325);
        display: flex;
        flex-direction: column;
        .logo{
          width: f.rem(133);
          height: f.rem(133)
        }
        a{
          margin-top: f.rem(20);
          width: f.rem(237);
          color: #5A7184;
          float: left;
          text-decoration: none;
        }
        .social_media{
          display: flex;
          gap: f.rem(10);
          img{
            margin-top: f.rem(20)
          }
        }
        
  
        .lf_image1 { margin-left: -245px; }
        .lf_image2 { margin-left: -200px; }
        .lf_image3 { margin-left: -155px; }
      }
      .ft_right{
        width: f.rem(1000);
  
        p {
          width: 100%;
          color: #5A7184;
        }
        .links{
          display: flex;
          justify-content: space-between;
          margin-top: f.rem(45);
          a{
            text-decoration: none;
          }
        }
      }
    }  
  }
  .gymnasium_life{
    margin-top: f.rem(-1);
    padding: f.rem(75);
    background-color: #0D2436;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      cursor: pointer;
    }
  }
}
