@use "../utils/function/_functions.scss" as f;
@use '../utils/mixins/breakpoints' as *;
@import '../utils/preloader/preloader';


* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section{
  transition: linear 2s;
}


// .target_of_school {
//   position: relative;
//   bottom: f.rem(125);
//   .part1{
//     position: relative;
//     span {
//       font-size: f.rem(150);
//     }
//     #logo_text {
//       position: absolute;
//       bottom: 45%;
//       right: 8%;
//       overflow-x: hidden;
//     }
//     .gradient-text {
//       background: linear-gradient(to right, #ffffff, #ffffff, #0086EF);
//       background-clip: text;
//       -webkit-background-clip: text;
//       color: transparent;
//       -webkit-text-fill-color: transparent;
//     }
//   }
//   .text_box{
//     position: absolute;
//     bottom: f.rem(-50);
//     margin-left: 60vw;
//     p{
//       margin-left: f.rem(50)
//     }
//   }
// }

.history_of_school{
  width: 75vw;
  margin: 0 auto;
  .text_box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: f.rem(100);
  }
}

.heading{
  margin: auto;
  margin-top: f.rem(100);
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  nav{
    width: 75%;
    margin-top: f.rem(10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      cursor: pointer;
      width: f.rem(160);
      padding: f.rem(13);
      color: #5A7184;
      border: solid f.rem(2) #5A7184;
      border-radius: f.rem(100);   
      background-color: #fff;
    }
    button:hover{
      background-color: #5A7184;
      color: #fff;
      transition: linear 0.3s;
    }
    .active{
      color: #1565D8;
      border: solid f.rem(2) #1565D8;
    }
    .active:hover{
      background-color: #1565D8;
      color: #fff;
    }
  }
  .photo{
    width: 75vw;
    margin-top: f.rem(50);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: f.rem(50);
    .edge{
      height: f.rem(600);
    }
    .central{
      height: f.rem(800);
    }
    .skeleton-wrapper{
      flex: 1;
      border-radius: f.rem(16);
    }
  }
}
.why_us{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: f.rem(100);
  width: 75vw;
  .text_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h3{
      color: #1565D8;
    }
    p{
      margin-top: f.rem(20);
    }
  }
  .prove{
    margin-top: f.rem(40);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: f.rem(30);

    justify-content: center;
    .element{
      border: solid f.rem(2) #E5EAF4;
      border-radius: f.rem(16);
      width: f.rem(320);
      height: f.rem(280);
      padding: f.rem(40);
      transition: linear 1s;
      img{
        width: f.rem(100);
        height: f.rem(100);
        margin-bottom: f.rem(30);
      }
      h5{
        margin-bottom: f.rem(10);
      }
    }
    .element:hover{
      background-color: #1565D8;
      h5{
        color: #fff;
      }
      p{
        color: #c4c4c4;
      }
      img{
        background-color: #fff;
        border-radius: f.rem(16);
      }
    }
  }
}
.call_us{
  margin-top: f.rem(50);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/images/structures/Base.svg") no-repeat center;
  background-size: cover;
  padding: f.rem(90) 0;
  h2, p, button{
    
    color: #fff;
    text-align: center;
  }
  p{
    width: 70%;
    margin-top: f.rem(10);
  }
  button{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: f.rem(30);
    width: f.rem(400);
    height: f.rem(60);
    padding: 0 f.rem(30);
    background-color: #fff;
    border: none;
    border-radius: f.rem(8);
    color: #959EAD;
    font-size: f.rem(20);
    transition: 0.2s linear;
  }
  a{
    text-decoration: none;
  }
  button:hover{
    color:#1565D8;
    font-weight: 600;
  }
}
.quote{
  margin: auto;
  margin-top: f.rem(100);
  width: 100%;
  height: f.rem(200);
  background-color: #F9FBFE;
  border-radius: f.rem(20);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url('/images/quote/Group\ 1171275066.svg') no-repeat ;
  background-size: cover;
  h4, p{
    width: auto;
  }
  img{
    width: 30%;
    position: absolute;
    right: 5%;
    bottom: 40%;
  }
  h4{
    width: f.rem(215);
    margin-left: f.rem(50);
    color: #183B56;
  }
  p{
    width: f.rem(200);
    margin-top: f.rem(10);
    margin-left: f.rem(70);
  }
}
.administration{
  margin: auto;
  margin-top: f.rem(100);
  width: 75vw;
  .text_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4{
      color:#1565D8;
    }
  }
  .photo{
    margin-top: f.rem(100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: f.rem(20);
    .person{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      h5{
        margin-top: f.rem(20)
      }
    }
    .button-left-arrow, .button-right-arrow{
      width: f.rem(50);
      height: f.rem(50);
      position: relative;
      bottom: f.rem(35);
    }
  }
  .swiper-button-next, .swiper-button-prev{
    position: relative;
    bottom: f.rem(20);
  }

}
.additional_info{
  
  width: 75vw;
  margin: auto;
  margin-top: f.rem(100);
  .text_box{
    .bottom-line{
      width: f.rem(270);
      height: f.rem(12);
      background-color: #0086EF;
    }
    p{
      margin-top: f.rem(20);
    }
  }
  .prove1{
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: f.rem(30);
    margin-top: f.rem(72);
    .box{
      width: f.rem(360);
      .img_box{
        width: 100%;
        position: relative;
        .skeleton-wrapper{
          width: 100%;
          height: f.rem(260);
          border-radius: f.rem(8);
          
        }
        .number{
          width: f.rem(48);
          height: f.rem(48);
          background-color: #1565D8;
          color: #fff;
          border-radius: f.rem(8);
         
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: f.rem(28);
          font-weight: 500;

          position: absolute;
          right: f.rem(25);
          top: f.rem(-25)
        }
      }
      .info_box{
        margin-top: f.rem(20);
        display: flex;
        .line{
          width: f.rem(4);
          height: f.rem(20);
          background-color: #1565D8;
          border-radius: f.rem(10);
          
          position: relative;
          top: f.rem(4)
        }
        .text_box{
          margin-left: f.rem(10);
          p{
            margin-top: f.rem(5);
          }
        }
      }
    }
  }
  .prove2{
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
    margin-top: f.rem(50);
    
    .skeleton-wrapper{
      width: f.rem(1140);
      height: f.rem(400);
      border-radius: f.rem(8);
    }
    .text_box{
      width: f.rem(1140);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: f.rem(20);
      .box{
        width: f.rem(400);
        a{
          margin: f.rem(10);
          color:#1565D8;
          cursor: pointer;
        }
        p{
          margin-bottom: f.rem(10);
        }
      }
    }
  }
}
.about_events, .about_mugs{
  margin: auto;
  margin-top: f.rem(100);
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
      color:#1565D8;
    }
  }
  .photo_box{
    margin-top: f.rem(60);
    display: flex;
    align-items: center;
    gap: f.rem(30);
    .photo, img{
      border-radius: f.rem(10);
      width: f.rem(250);
    }
    .column1, .column5, .photo_large, img{
      height: f.rem(310);
    }
    .column2, .column4{
      display: flex;
      flex-direction: column;
      .photo_small{
        margin: f.rem(20) 0;
        height: f.rem(200);
      }
    }
    .column3, .column3 img{
      height: f.rem(600);
    }
  }
  .additional_box{
    margin-top: f.rem(140);
    display: flex;
    align-items: center;
    p{
      width: f.rem(400);
    }
    .position{
      position: relative;
      bottom: f.rem(130)
    }
  }
}
.achievements{
  margin-top: f.rem(100);
  background-color: #F9FBFE;
  display: flex;
  justify-content: center;
  padding: f.rem(135);
  gap: f.rem(100);
  .photo_box{
    position: relative;
    div{
      border-radius: f.rem(8);
    }
    .photo1{
      z-index: 1;
      width: f.rem(460);
      height: f.rem(560);
    }
    .photo2{
      z-index: 2;
      position: absolute;
      right: f.rem(250);
      bottom: f.rem(-100);
      width: f.rem(340);
      height: f.rem(380);
    }
  }
  .achieve_box{
    .list{
      margin-top: f.rem(20);
      display: flex;
      flex-direction: column;
      gap: f.rem(40);
      .box{
        gap: f.rem(10);
        display: flex;  
        .text_box{
          p{
            width: f.rem(415);
          }
        }
      }
    }
  }
}
.feedback{
  width: 75vw;
  margin: auto;
  margin-top: f.rem(150);
  .text_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
      position: relative;
      img{
        z-index: 1;
        position: absolute;
        bottom: f.rem(55);
        left: f.rem(-50);
      }
      h4{
        position: relative;
        z-index: 2;
      }
    }
    .arrows{
      display: flex;
      gap: f.rem(20);
      button{
        background-color: transparent;
        border: none;
      }
      span{
        font-weight: 600;
        font-size: f.rem(36);
        color: #183B56;
        cursor: pointer;
      }
      .standart{
        color: #A9B5C0;
      }
    }
  }
  .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: f.rem(100);
    margin-top: f.rem(50)
  }
  .box{
    flex: 1;
    padding: f.rem(50);
    border-radius: f.rem(16);
    background-color: #F9FBFE;
    h5{
      width: 75%;
    }
    .special{
      margin-top: f.rem(20);
      width: f.rem(440);
    }
    .author{
      margin-top: f.rem(40);
      width: 100%;
      display: flex;
      
      img{
        width: f.rem(56);
        height: f.rem(56);
        border-radius: f.rem(2000);
      }
      .text_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: f.rem(20);
      }
    }
  }
}
