#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#preloader .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  transition: linear 2s;
}

.history_of_school {
  width: 75vw;
  margin: 0 auto;
}
.history_of_school .text_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6.25rem;
}

.heading {
  margin: auto;
  margin-top: 6.25rem;
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading nav {
  width: 75%;
  margin-top: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading nav button {
  cursor: pointer;
  width: 10rem;
  padding: 0.8125rem;
  color: #5A7184;
  border: solid 0.125rem #5A7184;
  border-radius: 6.25rem;
  background-color: #fff;
}
.heading nav button:hover {
  background-color: #5A7184;
  color: #fff;
  transition: linear 0.3s;
}
.heading nav .active {
  color: #1565D8;
  border: solid 0.125rem #1565D8;
}
.heading nav .active:hover {
  background-color: #1565D8;
  color: #fff;
}
.heading .photo {
  width: 75vw;
  margin-top: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.heading .photo .edge {
  height: 37.5rem;
}
.heading .photo .central {
  height: 50rem;
}
.heading .photo .skeleton-wrapper {
  flex: 1;
  border-radius: 1rem;
}

.why_us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 6.25rem;
  width: 75vw;
}
.why_us .text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.why_us .text_box h3 {
  color: #1565D8;
}
.why_us .text_box p {
  margin-top: 1.25rem;
}
.why_us .prove {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1.875rem;
  justify-content: center;
}
.why_us .prove .element {
  border: solid 0.125rem #E5EAF4;
  border-radius: 1rem;
  width: 20rem;
  height: 17.5rem;
  padding: 2.5rem;
  transition: linear 1s;
}
.why_us .prove .element img {
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: 1.875rem;
}
.why_us .prove .element h5 {
  margin-bottom: 0.625rem;
}
.why_us .prove .element:hover {
  background-color: #1565D8;
}
.why_us .prove .element:hover h5 {
  color: #fff;
}
.why_us .prove .element:hover p {
  color: #c4c4c4;
}
.why_us .prove .element:hover img {
  background-color: #fff;
  border-radius: 1rem;
}

.call_us {
  margin-top: 3.125rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/images/structures/Base.svg") no-repeat center;
  background-size: cover;
  padding: 5.625rem 0;
}
.call_us h2, .call_us p, .call_us button {
  color: #fff;
  text-align: center;
}
.call_us p {
  width: 70%;
  margin-top: 0.625rem;
}
.call_us button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.875rem;
  width: 25rem;
  height: 3.75rem;
  padding: 0 1.875rem;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  color: #959EAD;
  font-size: 1.25rem;
  transition: 0.2s linear;
}
.call_us a {
  text-decoration: none;
}
.call_us button:hover {
  color: #1565D8;
  font-weight: 600;
}

.quote {
  margin: auto;
  margin-top: 6.25rem;
  width: 100%;
  height: 12.5rem;
  background-color: #F9FBFE;
  border-radius: 1.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("/images/quote/Group 1171275066.svg") no-repeat;
  background-size: cover;
}
.quote h4, .quote p {
  width: auto;
}
.quote img {
  width: 30%;
  position: absolute;
  right: 5%;
  bottom: 40%;
}
.quote h4 {
  width: 13.4375rem;
  margin-left: 3.125rem;
  color: #183B56;
}
.quote p {
  width: 25rem;
  margin-top: 0.625rem;
  margin-left: 3.125rem;
}

.administration {
  margin: auto;
  margin-top: 6.25rem;
  width: 75vw;
}
.administration .text_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.administration .text_box h4 {
  color: #1565D8;
}
.administration .photo {
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.administration .photo .person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.administration .photo .person h5 {
  margin-top: 1.25rem;
}
.administration .photo .button-left-arrow, .administration .photo .button-right-arrow {
  width: 3.125rem;
  height: 3.125rem;
  position: relative;
  bottom: 2.1875rem;
}
.administration .swiper-button-next, .administration .swiper-button-prev {
  position: relative;
  bottom: 1.25rem;
}

.additional_info {
  width: 75vw;
  margin: auto;
  margin-top: 6.25rem;
}
.additional_info .text_box .bottom-line {
  width: 16.875rem;
  height: 0.75rem;
  background-color: #0086EF;
}
.additional_info .text_box p {
  margin-top: 1.25rem;
}
.additional_info .prove1 {
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  margin-top: 4.5rem;
}
.additional_info .prove1 .box {
  width: 22.5rem;
}
.additional_info .prove1 .box .img_box {
  width: 100%;
  position: relative;
}
.additional_info .prove1 .box .img_box .skeleton-wrapper {
  width: 100%;
  height: 16.25rem;
  border-radius: 0.5rem;
}
.additional_info .prove1 .box .img_box .number {
  width: 3rem;
  height: 3rem;
  background-color: #1565D8;
  color: #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  font-weight: 500;
  position: absolute;
  right: 1.5625rem;
  top: -1.5625rem;
}
.additional_info .prove1 .box .info_box {
  margin-top: 1.25rem;
  display: flex;
}
.additional_info .prove1 .box .info_box .line {
  width: 0.25rem;
  height: 1.25rem;
  background-color: #1565D8;
  border-radius: 0.625rem;
  position: relative;
  top: 0.25rem;
}
.additional_info .prove1 .box .info_box .text_box {
  margin-left: 0.625rem;
}
.additional_info .prove1 .box .info_box .text_box p {
  margin-top: 0.3125rem;
}
.additional_info .prove2 {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3.125rem;
}
.additional_info .prove2 .skeleton-wrapper {
  width: 71.25rem;
  height: 25rem;
  border-radius: 0.5rem;
}
.additional_info .prove2 .text_box {
  width: 71.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
}
.additional_info .prove2 .text_box .box {
  width: 25rem;
}
.additional_info .prove2 .text_box .box a {
  margin: 0.625rem;
  color: #1565D8;
  cursor: pointer;
}
.additional_info .prove2 .text_box .box p {
  margin-bottom: 0.625rem;
}

.about_events, .about_mugs {
  margin: auto;
  margin-top: 6.25rem;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_events .text_box, .about_mugs .text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about_events .text_box h1, .about_mugs .text_box h1 {
  color: #1565D8;
}
.about_events .photo_box, .about_mugs .photo_box {
  margin-top: 3.75rem;
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
.about_events .photo_box .photo, .about_events .photo_box img, .about_mugs .photo_box .photo, .about_mugs .photo_box img {
  border-radius: 0.625rem;
  width: 15.625rem;
}
.about_events .photo_box .column1, .about_events .photo_box .column5, .about_events .photo_box .photo_large, .about_events .photo_box img, .about_mugs .photo_box .column1, .about_mugs .photo_box .column5, .about_mugs .photo_box .photo_large, .about_mugs .photo_box img {
  height: 19.375rem;
}
.about_events .photo_box .column2, .about_events .photo_box .column4, .about_mugs .photo_box .column2, .about_mugs .photo_box .column4 {
  display: flex;
  flex-direction: column;
}
.about_events .photo_box .column2 .photo_small, .about_events .photo_box .column4 .photo_small, .about_mugs .photo_box .column2 .photo_small, .about_mugs .photo_box .column4 .photo_small {
  margin: 1.25rem 0;
  height: 12.5rem;
}
.about_events .photo_box .column3, .about_events .photo_box .column3 img, .about_mugs .photo_box .column3, .about_mugs .photo_box .column3 img {
  height: 37.5rem;
}
.about_events .additional_box, .about_mugs .additional_box {
  margin-top: 8.75rem;
  display: flex;
  align-items: center;
}
.about_events .additional_box p, .about_mugs .additional_box p {
  width: 25rem;
}
.about_events .additional_box .position, .about_mugs .additional_box .position {
  position: relative;
  bottom: 8.125rem;
}

.achievements {
  margin-top: 6.25rem;
  background-color: #F9FBFE;
  display: flex;
  justify-content: center;
  padding: 8.4375rem;
  gap: 6.25rem;
}
.achievements .photo_box {
  position: relative;
}
.achievements .photo_box div {
  border-radius: 0.5rem;
}
.achievements .photo_box .photo1 {
  z-index: 1;
  width: 28.75rem;
  height: 35rem;
}
.achievements .photo_box .photo2 {
  z-index: 2;
  position: absolute;
  right: 15.625rem;
  bottom: -6.25rem;
  width: 21.25rem;
  height: 23.75rem;
}
.achievements .achieve_box .list {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.achievements .achieve_box .list .box {
  gap: 0.625rem;
  display: flex;
}
.achievements .achieve_box .list .box .text_box p {
  width: 25.9375rem;
}

.feedback {
  width: 75vw;
  margin: auto;
  margin-top: 9.375rem;
}
.feedback .text_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback .text_box .title {
  position: relative;
}
.feedback .text_box .title img {
  z-index: 1;
  position: absolute;
  bottom: 3.4375rem;
  left: -3.125rem;
}
.feedback .text_box .title h4 {
  position: relative;
  z-index: 2;
}
.feedback .text_box .arrows {
  display: flex;
  gap: 1.25rem;
}
.feedback .text_box .arrows button {
  background-color: transparent;
  border: none;
}
.feedback .text_box .arrows span {
  font-weight: 600;
  font-size: 2.25rem;
  color: #183B56;
  cursor: pointer;
}
.feedback .text_box .arrows .standart {
  color: #A9B5C0;
}
.feedback .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6.25rem;
  margin-top: 3.125rem;
}
.feedback .box {
  flex: 1;
  padding: 3.125rem;
  border-radius: 1rem;
  background-color: #F9FBFE;
}
.feedback .box h5 {
  width: 75%;
}
.feedback .box .special {
  margin-top: 1.25rem;
  width: 27.5rem;
}
.feedback .box .author {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
}
.feedback .box .author img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 125rem;
}
.feedback .box .author .text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1.25rem;
}/*# sourceMappingURL=style.css.map */